.Homepage{
    width: 100%;
    height: 100vh;
    background-color: #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Homepage h1{
    font-size: 50px;
    font-weight: 700;
    color: #AE0001;
}

.Homepage a{
    color: #fff;
}


.Homepage .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.Homepage .container .box{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEba30;
    color: #fff;
}